<html>
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      {% if title %}
      <title>{{ title }} Dynamic Codon Biaser</title>
      {% else %}
      <title> Dynamic Codon Biaser </title>
      {% endif %}
	<style>
        html {
            min-height: 100%;
        }
	body {
		background-image: url({{ url_for('static', filename='image.jpg')}});
		background-size: cover;
		background-repeat: no-repeat;
		color: white;
		height: 100%;
	}
	</style>
    </head>
    <body>
<nav class="navbar navbar-expand-lg">
    <a class="navbar">Dynamic Codon Biaser</a>
    <div class="collapse navbar-collapse" id="Navigation">
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        </ul>
    </div>
</nav>
        {% block content %}{% endblock %}
    </body>
</html>
