<html>
	<head> 
		<title>Dynamic Codon Biaser</title>
	</head>
	<body>
		<h1> Dynamic Codon Biaser </h1>
		<form action = "/index" method = "post">
			<p><input type = "submit" name="ncbi" value = "NCBI" /></p>
		</form>
		<form action = "/index" method = "post">
			<p><input type = "submit" name="ncbiassembly" value = "NCBIAssembly" /></p>
		</form>
		<form action = "/index" method = "post">
			<p><input type = "submit" name="upload" value = "UPLOAD" /></p>
		</form>
		<p>Select an option from above</p>
	</body>
</html>

