<!DOCTYPE html>
{% extends "base.html" %}
<html>
	<head> 
		<title>Dynamic Codon Biaser</title>
	</head>
	{% block content %}	
		<h1> Enter a RefSeq Nucleotide Accession Number for a prokaryotic genome! </h1>
		{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						{{ message }}
					{% endfor %}	
				{% endif %}
		{% endwith %}
		<form action = "/ncbidata" method="POST" onsubmit="myFunction()" enctype = "multipart/form-data">
			<input name="text">
			<input type="submit">
		</form>
		<script>	
			function myFunction() {
				alert("Uploaded. Click Okay to Continue!");
			}
		</script>
	{% endblock %}
	
</html>

