<html>
	<body>
		<h1> Enter a RefSeq Assembly Accession Number for a prokaryotic genome! </h1>
		{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						{{ message }}
					{% endfor %}	
				{% endif %}
		{% endwith %}
		<form action = "/ncbiassemblydata" method="POST" onsubmit="myFunction()" enctype = "multipart/form-data">
			<input name="text">
			<input type="submit">
		</form>
		<script>	
			function myFunction() {
				alert("Uploaded. Click Okay to Continue!");
			}
		</script>
	</body>
</html>
