<!doctype html>
<html>
	<body>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
 				<script>
      					var messages = {{ messages | safe }};
      					for (var i=0; i<messages.length; i++) {
        					alert(messages[i]);
      					}
    				</script>
				{% for message in messages %}
					{{ message }}
				{% endfor %}	
			{% endif %}
		{% endwith %}

		<form action = "http://localhost:5000/uploader" method = "POST" onsubmit="myFunction()"
			enctype = "multipart/form-data">
		<input type = "file" name = "file" />
		<input type = "submit"/>
		</form>
		<script>	
			function myFunction() {
				alert("Uploaded please wait!");
			}
		</script>
	</body>
</html>

