<!doctype html>
{% extends "base.html" %}
<html>
	{% block content %}
		{% with messages = get_flashed_messages() %}
			{% if messages %}
 				<script>
      					var messages = {{ messages | safe }};
      					for (var i=0; i<messages.length; i++) {
        					alert(messages[i]);
      					}
    				</script>
				{% for message in messages %}
					{{ message }}
				{% endfor %}	
			{% endif %}
		{% endwith %}

		<form action = "/uploader" method = "POST" onsubmit="myFunction()"
			enctype = "multipart/form-data">
		<input type = "file" name = "file" />
		<input type = "submit"/>
		</form>
		<p> Upload a prokaryotic genome that is 16MB or less. The file must be in fasta format and must have one of the following extensions: .txt, .fna, .fasta </p>
		<script>	
			function myFunction() {
				alert("Uploaded! Click Okay to Continue");
			}
		</script>
	{% endblock %}
</html>

